/*Impoting google forms*/

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;900&display=swap");

/*Impoting all components file*/
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


/*Impoting all components file*/
/*We will only code the desgin of font and color (for body) and links (for head)*/

body {
	font-family: 'Lora' ,serif;
	font-size: 18px;
	margin: 0px;

}

h1,h2,h3 {
	font-family: 'Roboto',sans-serif;
	font-weight:bold;
}

a{
	text-decoration:none;
	font-family: 'Roboto',sans-serif;
	font-weight:bold;
}

